<!DOCTYPE html>
<html>
    <head th:replace="fragments/head :: head"></head>
    <body>
        <!-- Sidenav -->
        <nav th:replace="fragments/sidenav-dashboard :: sidenav-dashboard"></nav>
        <!-- Main content -->
        <div class="main-content" id="panel">
            <!-- Topnav -->
            <nav th:replace="fragments/topnav:: topnav"></nav>
            <!-- Header -->
            <!-- Header -->
            <!-- Page content -->
            <div class="container-fluid mt-5" style="min-height: 200px">
                <h1>Change Password</h1>
                <div class="container-fluid mt-5" style="min-height: 200px">
                    <!-- Table -->
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-8">
                            <div class="card bg-secondary border-0">
                                <div class="card-body px-lg-5 py-lg-5">
                                    <form id="changePasswordForm" action="#" method="post" class="needs-validation" novalidate>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" for="oldPassword">Old Password</label>
                                            <div class="col-sm-9">
                                                <input id="oldPassword" name="oldPassword" class="form-control" type="password">
                                                <div class="invalid-feedback" style="font-size: 12">
                                                    Please input your old password
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" for="newPassword">New Password</label>
                                            <div class="col-sm-9">
                                                <input id="newPassword" name="newPassword" class="form-control" type="password">
                                                <div class="invalid-feedback" style="font-size: 12">
                                                    Please input your new password
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" for="repeatNewPassword">Repeat New Password</label>
                                            <div class="col-sm-9">
                                                <input id="repeatNewPassword" name="repeatNewPassword" class="form-control" type="password">
                                                <div class="invalid-feedback" style="font-size: 12">
                                                    Please input your repeat new password
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="text-muted font-italic"><small>password strength: <span class="text-success font-weight-700">strong</span></small></div>-->
                                        <div id="change-password-render" class="text-center">
                                            <button id="btn-change-password" type="submit" class="btn btn-primary mt-4">Change Password</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer -->
                <footer th:replace="fragments/footer :: footer"></footer>
            </div>
        </div>
        <!-- Argon Scripts -->
        <!-- Core -->
        <div th:replace="fragments/script :: script"></div>
        <script src="/js/changepassword/index.js"></script>
    </body>
</html>