<!--MODAL UPDATE MODULE (TRAINER)-->

<div class="modal-update-exam" th:fragment="modal-update-exam">

    <div class="modal fade" id="update-exam" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel">Insert Exam</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="updateExam" class="needs-validation" th:each="ex:${exam}" novalidate>
                         <div class="form-group">
                            <label for="file_name">Name Quiz</label>
                            <input type="text" id="file_name" class="form-control" th:value="${ex.file_name}" readonly="readonly"> 
                        </div>
                        
                        <div class="form-group">
                            <label for="date">Deadline</label>
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"
                                       id="date" placeholder="Date"/>
                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" name="file">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                </div>
                <div class="modal-footer border-top-0 d-flex justify-content-center">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button data-dismiss="modal" class="btn btn-danger col-2">Back</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
