<!--MODAL UPDATE MODULE (TRAINER)-->

<div class="modal-update-module" th:fragment="modal-update-module">

    <div class="modal fade" id="update-module" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel">Update Module</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="updateModule" class="needs-validation" th:each="m:${module}" novalidate>
                        <div class="form-group">
                            <label for="nama">Title</label>
                            <input type="text" id="title" class="form-control" th:value="${m.title}" readonly="readonly"> 
                        </div>

                        <div class="form-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" name="file">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                </div>
                <div class="modal-footer border-top-0 d-flex justify-content-center">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button data-dismiss="modal" class="btn btn-danger col-2">Back</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
